<p>Nouveau message envoyé depuis votre site SUNRYSE.</p>
<br>
<p>
Détails du message <br>
------------------------------
</p>
<p>Prénom: <%= @message.first_name %></p>
<p>Nom: <%= @message.last_name %></p>
<p>Email: <%= @message.email %></p>
<p>Téléphone: <%= @message.phone_number %></p>
<br>
<p>
Message:<br>
------------------------------
</p>
<p><%= @message.content %></p>
<br>
